$green: rgb(57, 213, 101);
$green-shadow: rgb(13, 147, 75);
$red: rgb(210, 58, 81);
$red-shadow: rgb(113, 21, 21);
$blue: rgb(0, 153, 255);
$blue-shadow: rgb(0, 102, 204);
$yellow: rgb(252, 154, 1);
$yellow-shadow: rgb(145, 104, 40);
$gray: rgb(170, 170, 170);

@mixin button-shadow($color-shadow){
  box-shadow: 0 6px 0 $color-shadow;
  bottom: 6px;
  transition: all 0.1s linear;
  &:active{
    bottom: 0px;
    box-shadow: 0px 0px 0px $color-shadow;
  }
}

body {
  // background-image: url("http://all4desktop.com/data_images/original/4236795-wallpaper-background.jpg");
  background: skyblue;
  font-family: 'Righteous', cursive;
  box-sizing: border-box;
}

.on{
  background: red;
}


.container{
  width: 100%;
  height: 605px;
  display: flex;
  flex-wrap: wrap;
}

.animate{
  opacity: 0.23;
}
.game{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.button{
  position: relative;
  display: block;
  height: 50%;
  width: 50%;
  margin-bottom: 1px;
  cursor: pointer;
}

#green{
  background: $green;
  transition: background-color 0.5s ease;
  border-top-left-radius: 25%;
  @include button-shadow($green-shadow);
}

#red{
  background: $red;
  transition: background-color 0.5s ease;
  border-top-right-radius: 25%;
  @include button-shadow($red-shadow);
}

#blue{
  background: $blue;
  transition: background-color 0.5s ease;
  border-bottom-left-radius: 25%;
  @include button-shadow($blue-shadow);
}

#yellow{
  background: $yellow;
  transition: background-color 0.5s ease;
  border-bottom-right-radius: 25%;
  @include button-shadow($yellow-shadow);
}

.score{
  width: 100%;
  height: 10%;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 3px 2px black;
  margin-bottom: 5px;
}

.control-panel{
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 25%;
  align-items: center;
  justify-content: center;
  background: $gray;
  border-radius: 10px;
  #on-off-btn{
    width: 33.3333%;
  }
  #level{
    width: 33.3333%;
  }
  #start{
    width: 27.3333%;
  }
  p{
    margin: 8px 0px 0px 0px;
  }
}
//This hides the actual checkbox//
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
//make label as a container by position:relative
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  max-width: 90%;
  height: 35px;
  background-color: #dddddd;
  border-radius: 60px;
  margin-top: 9px;
  margin-left: 5px;
}
//This creates the background of the container (inside label)
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
//This embelish the background of the container
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: white;
  border-radius: 60px;
  transition: background 0.4s;
}
//This is the toggle round switch itself
input.cmn-toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin-left 0.4s;
}
//When user clicks the label, it will call transition
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 58%;
}

.btn-round{
  width: 50%;
  height: 50px;
  background: rgb(237, 41, 20);
  border-radius: 100%;
  outline: none;
  @include button-shadow($red-shadow);
}
@media screen and (max-width: 311px) {
  input.cmn-toggle-round:checked + label:after {
    margin-left: 45%;
  }
}

@media screen and (min-width: 426px) {
  .container{
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 66%;
  }
}

@media screen and (min-width: 765px) {
  .container{
    margin-top: 50px;
  }
}
